<div class="container">
  <div class="row">

    <div class="col-md-3">
      <h2>User info</h2>
      <%= render 'users/info', user: current_user %>
      <%= render 'books/new', book: @book %>
    </div>

    <div class="col-md-8 offset-md-1">
      <h2>Users</h2>
        <table class="table">
          <thead>
            <tr>
              <th>image</th>
              <th>name</th>
              <th></th>
            </tr>
          </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td>
                <%= attachment_image_tag user, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg", size: '40x40' %>
              </td>
              <td><%= user.name %></td>
              <td>
                <%= link_to "Show", user, class: "user_#{user.id}" %>
              </td>
            </tr>
          <% end %>
        </tbody>
        </table>
    </div>

  </div>
</div>