
<% flash.each do |key, value| %>
  <%= content_tag(:div, value, class: "#{key}") %>
<% end %>

<div class="container">
  <div class="row">

    <div class="col-md-3">
      <h2>User info</h2>
      <%= render 'users/info', user: @user %>
      <%= render 'books/new', book: @books %>
    </div>
    
      <div class="col-md-8 offset-md-1">
      <h2>Books</h2>
        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th>Title</th>
              <th>Opinion</th>
            </tr>
          </thead>
          <tbody>
            <% @books.each do |book| %>
            <tr>
              <td>
                <%= link_to (book.user) do %>
                <%= attachment_image_tag book.user, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg", size: '40x40' %>
                <% end %>
              </td>
              <td>
                  <%= link_to book.title, book, class: "book_#{book.id}" %>
              </td>
              <td><%= book.body %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    
  </div>
</div>