<div class="container">
  <div class="row">

    <div class="col-lg-3">
      <h2>User info</h2>
      <%= render 'users/info', user: current_user %>
      <h2>New Book</h2>
      <%= render 'books/new', book: @book %>
    </div>

  <div class="col-lg-9">
      <h2>Book detail</h2>
        <table class="table">
          <tbody>
            <tr>
              <td>
                <%= link_to (@book.user) do %>
                  <%= attachment_image_tag @user, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg", size: '40x40' %><br>
                  <%= @user.name %>
                <% end %>
              </td>
              <td>
                <%= link_to book_path(@book.id) do %>
                  <%= @book.title %>
                <% end %>
              </td>
              <td><%= @book.body %></td>
            <% if @book.user == current_user %>
              <td>
                <%= link_to "Edit", edit_book_path(@book), class: "btn-success btn-sm text-center" %>
              </td>
              <td>
                <%= link_to "Destroy", book_path(@book), method: :delete, class: "btn-danger btn-sm text-center" %>
              </td>
            <% end %>
            </tr>
          </tbody>
        </table>
  </div>

  </div>
</div>